.cookies {
  background: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  width: 95%;
  max-width: 400px;
  text-align: center;
  border: 4px solid #ccc;

  .information-container {
    padding: 20px 0 15px 0;

    .link {
      color: $linkColor;
      margin-top: 2px;
    }
  }

  .close-button {
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    user-select: none;
  }

  .close-button:hover {
    background: #ddd;
  }

  @media only screen and (max-width: $displaySmall) {
    & {
      left: 20px;
      bottom: 20px;
      width: calc(100% - 48px);
      max-width: unset;
    }
  }
}