// Margin Top

.mt-1 {
  margin-top: $spacing1 !important;
}

.mt-2 {
  margin-top: $spacing2 !important;
}

.mt-3 {
  margin-top: $spacing3 !important;
}

.mt-4 {
  margin-top: $spacing4 !important;
}

.mt-5 {
  margin-top: $spacing5 !important;
}

.mt-6 {
  margin-top: $spacing6 !important;
}

.mt-7 {
  margin-top: $spacing7 !important;
}

.mt-8 {
  margin-top: $spacing8 !important;
}

.mt-9 {
  margin-top: $spacing9 !important;
}

.mt-10 {
  margin-top: $spacing10 !important;
}

.mt-11 {
  margin-top: $spacing11 !important;
}

.mt-12 {
  margin-top: $spacing12 !important;
}

.mt-13 {
  margin-top: $spacing13 !important;
}

.mt-14 {
  margin-top: $spacing14 !important;
}

.mt-15 {
  margin-top: $spacing15 !important;
}

.mt-16 {
  margin-top: $spacing16 !important;
}

.mt-17 {
  margin-top: $spacing17 !important;
}

.mt-18 {
  margin-top: $spacing18 !important;
}

.mt-19 {
  margin-top: $spacing19 !important;
}

.mt-20 {
  margin-top: $spacing20 !important;
}

// Margin Bottom

.mb-1 {
  margin-bottom: $spacing1 !important;
}

.mb-2 {
  margin-bottom: $spacing2 !important;
}

.mb-3 {
  margin-bottom: $spacing3 !important;
}

.mb-4 {
  margin-bottom: $spacing4 !important;
}

.mb-5 {
  margin-bottom: $spacing5 !important;
}

.mb-6 {
  margin-bottom: $spacing6 !important;
}

.mb-7 {
  margin-bottom: $spacing7 !important;
}

.mb-8 {
  margin-bottom: $spacing8 !important;
}

.mb-9 {
  margin-bottom: $spacing9 !important;
}

.mb-10 {
  margin-bottom: $spacing10 !important;
}


.mb-11 {
  margin-bottom: $spacing11 !important;
}

.mb-12 {
  margin-bottom: $spacing12 !important;
}

.mb-13 {
  margin-bottom: $spacing13 !important;
}

.mb-14 {
  margin-bottom: $spacing14 !important;
}

.mb-15 {
  margin-bottom: $spacing15 !important;
}

.mb-16 {
  margin-bottom: $spacing16 !important;
}

.mb-17 {
  margin-bottom: $spacing17 !important;
}

.mb-18 {
  margin-bottom: $spacing18 !important;
}

.mb-19 {
  margin-bottom: $spacing19 !important;
}

.mb-20 {
  margin-bottom: $spacing20 !important;
}

// Margin Left

.ml-1 {
  margin-left: $spacing1 !important;
}

.ml-2 {
  margin-left: $spacing2 !important;
}

.ml-3 {
  margin-left: $spacing3 !important;
}

.ml-4 {
  margin-left: $spacing4 !important;
}

.ml-5 {
  margin-left: $spacing5 !important;
}

.ml-6 {
  margin-left: $spacing6 !important;
}

.ml-7 {
  margin-left: $spacing7 !important;
}

.ml-8 {
  margin-left: $spacing8 !important;
}

.ml-9 {
  margin-left: $spacing9 !important;
}

.ml-10 {
  margin-left: $spacing10 !important;
}

.ml-11 {
  margin-left: $spacing11 !important;
}

.ml-12 {
  margin-left: $spacing12 !important;
}

.ml-13 {
  margin-left: $spacing13 !important;
}

.ml-14 {
  margin-left: $spacing14 !important;
}

.ml-15 {
  margin-left: $spacing15 !important;
}

.ml-16 {
  margin-left: $spacing16 !important;
}

.ml-17 {
  margin-left: $spacing17 !important;
}

.ml-18 {
  margin-left: $spacing18 !important;
}

.ml-19 {
  margin-left: $spacing19 !important;
}

.ml-20 {
  margin-left: $spacing20 !important;
}

// Margin Right

.mr-1 {
  margin-right: $spacing1 !important;
}

.mr-2 {
  margin-right: $spacing2 !important;
}

.mr-3 {
  margin-right: $spacing3 !important;
}

.mr-4 {
  margin-right: $spacing4 !important;
}

.mr-5 {
  margin-right: $spacing5 !important;
}

.mr-6 {
  margin-right: $spacing6 !important;
}

.mr-7 {
  margin-right: $spacing7 !important;
}

.mr-8 {
  margin-right: $spacing8 !important;
}

.mr-9 {
  margin-right: $spacing9 !important;
}

.mr-10 {
  margin-right: $spacing10 !important;
}

.mr-11 {
  margin-right: $spacing11 !important;
}

.mr-12 {
  margin-right: $spacing12 !important;
}

.mr-13 {
  margin-right: $spacing13 !important;
}

.mr-14 {
  margin-right: $spacing14 !important;
}

.mr-15 {
  margin-right: $spacing15 !important;
}

.mr-16 {
  margin-right: $spacing16 !important;
}

.mr-17 {
  margin-right: $spacing17 !important;
}

.mr-18 {
  margin-right: $spacing18 !important;
}

.mr-19 {
  margin-right: $spacing19 !important;
}

.mr-20 {
  margin-right: $spacing20 !important;
}

// Margin X

.mx-1 {
  margin-left: $spacing1 !important;
  margin-right: $spacing1 !important;
}

.mx-2 {
  margin-left: $spacing2 !important;
  margin-right: $spacing2 !important;
}

.mx-3 {
  margin-left: $spacing3 !important;
  margin-right: $spacing3 !important;
}

.mx-4 {
  margin-left: $spacing4 !important;
  margin-right: $spacing4 !important;
}

.mx-5 {
  margin-left: $spacing5 !important;
  margin-right: $spacing5 !important;
}

.mx-6 {
  margin-left: $spacing6 !important;
  margin-right: $spacing6 !important;
}

.mx-7 {
  margin-left: $spacing7 !important;
  margin-right: $spacing7 !important;
}

.mx-8 {
  margin-left: $spacing8 !important;
  margin-right: $spacing8 !important;
}

.mx-9 {
  margin-left: $spacing9 !important;
  margin-right: $spacing9 !important;
}

.mx-10 {
  margin-left: $spacing10 !important;
  margin-right: $spacing10 !important;
}

.mx-11 {
  margin-left: $spacing11 !important;
  margin-right: $spacing11 !important;
}

.mx-12 {
  margin-left: $spacing12 !important;
  margin-right: $spacing12 !important;
}

.mx-13 {
  margin-left: $spacing13 !important;
  margin-right: $spacing13 !important;
}

.mx-14 {
  margin-left: $spacing14 !important;
  margin-right: $spacing14 !important;
}

.mx-15 {
  margin-left: $spacing15 !important;
  margin-right: $spacing15 !important;
}

.mx-16 {
  margin-left: $spacing16 !important;
  margin-right: $spacing16 !important;
}

.mx-17 {
  margin-left: $spacing17 !important;
  margin-right: $spacing17 !important;
}

.mx-18 {
  margin-left: $spacing18 !important;
  margin-right: $spacing18 !important;
}

.mx-19 {
  margin-left: $spacing19 !important;
  margin-right: $spacing19 !important;
}

.mx-20 {
  margin-left: $spacing20 !important;
  margin-right: $spacing20 !important;
}

// Margin Y

.my-1 {
  margin-top: $spacing1 !important;
  margin-bottom: $spacing1 !important;
}

.my-2 {
  margin-top: $spacing2 !important;
  margin-bottom: $spacing2 !important;
}

.my-3 {
  margin-top: $spacing3 !important;
  margin-bottom: $spacing3 !important;
}

.my-4 {
  margin-top: $spacing4 !important;
  margin-bottom: $spacing4 !important;
}

.my-5 {
  margin-top: $spacing5 !important;
  margin-bottom: $spacing5 !important;
}

.my-6 {
  margin-top: $spacing6 !important;
  margin-bottom: $spacing6 !important;
}

.my-7 {
  margin-top: $spacing7 !important;
  margin-bottom: $spacing7 !important;
}

.my-8 {
  margin-top: $spacing8 !important;
  margin-bottom: $spacing8 !important;
}

.my-9 {
  margin-top: $spacing9 !important;
  margin-bottom: $spacing9 !important;
}

.my-10 {
  margin-top: $spacing10 !important;
  margin-bottom: $spacing10 !important;
}

.my-11 {
  margin-top: $spacing11 !important;
  margin-bottom: $spacing11 !important;
}

.my-12 {
  margin-top: $spacing12 !important;
  margin-bottom: $spacing12 !important;
}

.my-13 {
  margin-top: $spacing13 !important;
  margin-bottom: $spacing13 !important;
}

.my-14 {
  margin-top: $spacing14 !important;
  margin-bottom: $spacing14 !important;
}

.my-15 {
  margin-top: $spacing15 !important;
  margin-bottom: $spacing15 !important;
}

.my-16 {
  margin-top: $spacing16 !important;
  margin-bottom: $spacing16 !important;
}

.my-17 {
  margin-top: $spacing17 !important;
  margin-bottom: $spacing17 !important;
}

.my-18 {
  margin-top: $spacing18 !important;
  margin-bottom: $spacing18 !important;
}

.my-19 {
  margin-top: $spacing19 !important;
  margin-bottom: $spacing19 !important;
}

.my-20 {
  margin-top: $spacing20 !important;
  margin-bottom: $spacing20 !important;
}

// Margin All

.ma-1 {
  margin: $spacing1 $spacing1 !important;
}

.ma-2 {
  margin: $spacing2 $spacing2 !important;
}

.ma-3 {
  margin: $spacing3 $spacing3 !important;
}

.ma-4 {
  margin: $spacing4 $spacing4 !important;
}

.ma-5 {
  margin: $spacing5 $spacing5 !important;
}

.ma-6 {
  margin: $spacing6 $spacing6 !important;
}

.ma-7 {
  margin: $spacing7 $spacing7 !important;
}

.ma-8 {
  margin: $spacing8 $spacing8 !important;
}

.ma-9 {
  margin: $spacing9 $spacing9 !important;
}

.ma-10 {
  margin: $spacing10 $spacing10 !important;
}

.ma-11 {
  margin: $spacing11 $spacing11 !important;
}

.ma-12 {
  margin: $spacing12 $spacing12 !important;
}

.ma-13 {
  margin: $spacing13 $spacing13 !important;
}

.ma-14 {
  margin: $spacing14 $spacing14 !important;
}

.ma-15 {
  margin: $spacing15 $spacing15 !important;
}

.ma-16 {
  margin: $spacing16 $spacing16 !important;
}

.ma-17 {
  margin: $spacing17 $spacing17 !important;
}

.ma-18 {
  margin: $spacing18 $spacing18 !important;
}

.ma-19 {
  margin: $spacing19 $spacing19 !important;
}

.ma-20 {
  margin: $spacing20 $spacing20 !important;
}
