@media only screen and (max-width: $displaySmall) {
  // Margin Top

  .mt-sm-1 {
    margin-top: $spacing1 !important;
  }

  .mt-sm-2 {
    margin-top: $spacing2 !important;
  }

  .mt-sm-3 {
    margin-top: $spacing3 !important;
  }

  .mt-sm-4 {
    margin-top: $spacing4 !important;
  }

  .mt-sm-5 {
    margin-top: $spacing5 !important;
  }

  .mt-sm-6 {
    margin-top: $spacing6 !important;
  }

  .mt-sm-7 {
    margin-top: $spacing7 !important;
  }

  .mt-sm-8 {
    margin-top: $spacing8 !important;
  }

  .mt-sm-9 {
    margin-top: $spacing9 !important;
  }

  .mt-sm-10 {
    margin-top: $spacing10 !important;
  }

  .mt-sm-11 {
    margin-top: $spacing11 !important;
  }

  .mt-sm-12 {
    margin-top: $spacing12 !important;
  }

  .mt-sm-13 {
    margin-top: $spacing13 !important;
  }

  .mt-sm-14 {
    margin-top: $spacing14 !important;
  }

  .mt-sm-15 {
    margin-top: $spacing15 !important;
  }

  .mt-sm-16 {
    margin-top: $spacing16 !important;
  }

  .mt-sm-17 {
    margin-top: $spacing17 !important;
  }

  .mt-sm-18 {
    margin-top: $spacing18 !important;
  }

  .mt-sm-19 {
    margin-top: $spacing19 !important;
  }

  .mt-sm-20 {
    margin-top: $spacing20 !important;
  }

  // Margin Bottom

  .mb-sm-1 {
    margin-bottom: $spacing1 !important;
  }

  .mb-sm-2 {
    margin-bottom: $spacing2 !important;
  }

  .mb-sm-3 {
    margin-bottom: $spacing3 !important;
  }

  .mb-sm-4 {
    margin-bottom: $spacing4 !important;
  }

  .mb-sm-5 {
    margin-bottom: $spacing5 !important;
  }

  .mb-sm-6 {
    margin-bottom: $spacing6 !important;
  }

  .mb-sm-7 {
    margin-bottom: $spacing7 !important;
  }

  .mb-sm-8 {
    margin-bottom: $spacing8 !important;
  }

  .mb-sm-9 {
    margin-bottom: $spacing9 !important;
  }

  .mb-sm-10 {
    margin-bottom: $spacing10 !important;
  }


  .mb-sm-11 {
    margin-bottom: $spacing11 !important;
  }

  .mb-sm-12 {
    margin-bottom: $spacing12 !important;
  }

  .mb-sm-13 {
    margin-bottom: $spacing13 !important;
  }

  .mb-sm-14 {
    margin-bottom: $spacing14 !important;
  }

  .mb-sm-15 {
    margin-bottom: $spacing15 !important;
  }

  .mb-sm-16 {
    margin-bottom: $spacing16 !important;
  }

  .mb-sm-17 {
    margin-bottom: $spacing17 !important;
  }

  .mb-sm-18 {
    margin-bottom: $spacing18 !important;
  }

  .mb-sm-19 {
    margin-bottom: $spacing19 !important;
  }

  .mb-sm-20 {
    margin-bottom: $spacing20 !important;
  }

  // Margin Left

  .ml-sm-1 {
    margin-left: $spacing1 !important;
  }

  .ml-sm-2 {
    margin-left: $spacing2 !important;
  }

  .ml-sm-3 {
    margin-left: $spacing3 !important;
  }

  .ml-sm-4 {
    margin-left: $spacing4 !important;
  }

  .ml-sm-5 {
    margin-left: $spacing5 !important;
  }

  .ml-sm-6 {
    margin-left: $spacing6 !important;
  }

  .ml-sm-7 {
    margin-left: $spacing7 !important;
  }

  .ml-sm-8 {
    margin-left: $spacing8 !important;
  }

  .ml-sm-9 {
    margin-left: $spacing9 !important;
  }

  .ml-sm-10 {
    margin-left: $spacing10 !important;
  }

  .ml-sm-11 {
    margin-left: $spacing11 !important;
  }

  .ml-sm-12 {
    margin-left: $spacing12 !important;
  }

  .ml-sm-13 {
    margin-left: $spacing13 !important;
  }

  .ml-sm-14 {
    margin-left: $spacing14 !important;
  }

  .ml-sm-15 {
    margin-left: $spacing15 !important;
  }

  .ml-sm-16 {
    margin-left: $spacing16 !important;
  }

  .ml-sm-17 {
    margin-left: $spacing17 !important;
  }

  .ml-sm-18 {
    margin-left: $spacing18 !important;
  }

  .ml-sm-19 {
    margin-left: $spacing19 !important;
  }

  .ml-sm-20 {
    margin-left: $spacing20 !important;
  }

  // Margin Right

  .mr-sm-1 {
    margin-right: $spacing1 !important;
  }

  .mr-sm-2 {
    margin-right: $spacing2 !important;
  }

  .mr-sm-3 {
    margin-right: $spacing3 !important;
  }

  .mr-sm-4 {
    margin-right: $spacing4 !important;
  }

  .mr-sm-5 {
    margin-right: $spacing5 !important;
  }

  .mr-sm-6 {
    margin-right: $spacing6 !important;
  }

  .mr-sm-7 {
    margin-right: $spacing7 !important;
  }

  .mr-sm-8 {
    margin-right: $spacing8 !important;
  }

  .mr-sm-9 {
    margin-right: $spacing9 !important;
  }

  .mr-sm-10 {
    margin-right: $spacing10 !important;
  }

  .mr-sm-11 {
    margin-right: $spacing11 !important;
  }

  .mr-sm-12 {
    margin-right: $spacing12 !important;
  }

  .mr-sm-13 {
    margin-right: $spacing13 !important;
  }

  .mr-sm-14 {
    margin-right: $spacing14 !important;
  }

  .mr-sm-15 {
    margin-right: $spacing15 !important;
  }

  .mr-sm-16 {
    margin-right: $spacing16 !important;
  }

  .mr-sm-17 {
    margin-right: $spacing17 !important;
  }

  .mr-sm-18 {
    margin-right: $spacing18 !important;
  }

  .mr-sm-19 {
    margin-right: $spacing19 !important;
  }

  .mr-sm-20 {
    margin-right: $spacing20 !important;
  }

  // Margin X

  .mx-sm-1 {
    margin-left: $spacing1 !important;
    margin-right: $spacing1 !important;
  }

  .mx-sm-2 {
    margin-left: $spacing2 !important;
    margin-right: $spacing2 !important;
  }

  .mx-sm-3 {
    margin-left: $spacing3 !important;
    margin-right: $spacing3 !important;
  }

  .mx-sm-4 {
    margin-left: $spacing4 !important;
    margin-right: $spacing4 !important;
  }

  .mx-sm-5 {
    margin-left: $spacing5 !important;
    margin-right: $spacing5 !important;
  }

  .mx-sm-6 {
    margin-left: $spacing6 !important;
    margin-right: $spacing6 !important;
  }

  .mx-sm-7 {
    margin-left: $spacing7 !important;
    margin-right: $spacing7 !important;
  }

  .mx-sm-8 {
    margin-left: $spacing8 !important;
    margin-right: $spacing8 !important;
  }

  .mx-sm-9 {
    margin-left: $spacing9 !important;
    margin-right: $spacing9 !important;
  }

  .mx-sm-10 {
    margin-left: $spacing10 !important;
    margin-right: $spacing10 !important;
  }

  .mx-sm-11 {
    margin-left: $spacing11 !important;
    margin-right: $spacing11 !important;
  }

  .mx-sm-12 {
    margin-left: $spacing12 !important;
    margin-right: $spacing12 !important;
  }

  .mx-sm-13 {
    margin-left: $spacing13 !important;
    margin-right: $spacing13 !important;
  }

  .mx-sm-14 {
    margin-left: $spacing14 !important;
    margin-right: $spacing14 !important;
  }

  .mx-sm-15 {
    margin-left: $spacing15 !important;
    margin-right: $spacing15 !important;
  }

  .mx-sm-16 {
    margin-left: $spacing16 !important;
    margin-right: $spacing16 !important;
  }

  .mx-sm-17 {
    margin-left: $spacing17 !important;
    margin-right: $spacing17 !important;
  }

  .mx-sm-18 {
    margin-left: $spacing18 !important;
    margin-right: $spacing18 !important;
  }

  .mx-sm-19 {
    margin-left: $spacing19 !important;
    margin-right: $spacing19 !important;
  }

  .mx-sm-20 {
    margin-left: $spacing20 !important;
    margin-right: $spacing20 !important;
  }

  // Margin Y

  .my-sm-1 {
    margin-top: $spacing1 !important;
    margin-bottom: $spacing1 !important;
  }

  .my-sm-2 {
    margin-top: $spacing2 !important;
    margin-bottom: $spacing2 !important;
  }

  .my-sm-3 {
    margin-top: $spacing3 !important;
    margin-bottom: $spacing3 !important;
  }

  .my-sm-4 {
    margin-top: $spacing4 !important;
    margin-bottom: $spacing4 !important;
  }

  .my-sm-5 {
    margin-top: $spacing5 !important;
    margin-bottom: $spacing5 !important;
  }

  .my-sm-6 {
    margin-top: $spacing6 !important;
    margin-bottom: $spacing6 !important;
  }

  .my-sm-7 {
    margin-top: $spacing7 !important;
    margin-bottom: $spacing7 !important;
  }

  .my-sm-8 {
    margin-top: $spacing8 !important;
    margin-bottom: $spacing8 !important;
  }

  .my-sm-9 {
    margin-top: $spacing9 !important;
    margin-bottom: $spacing9 !important;
  }

  .my-sm-10 {
    margin-top: $spacing10 !important;
    margin-bottom: $spacing10 !important;
  }

  .my-sm-11 {
    margin-top: $spacing11 !important;
    margin-bottom: $spacing11 !important;
  }

  .my-sm-12 {
    margin-top: $spacing12 !important;
    margin-bottom: $spacing12 !important;
  }

  .my-sm-13 {
    margin-top: $spacing13 !important;
    margin-bottom: $spacing13 !important;
  }

  .my-sm-14 {
    margin-top: $spacing14 !important;
    margin-bottom: $spacing14 !important;
  }

  .my-sm-15 {
    margin-top: $spacing15 !important;
    margin-bottom: $spacing15 !important;
  }

  .my-sm-16 {
    margin-top: $spacing16 !important;
    margin-bottom: $spacing16 !important;
  }

  .my-sm-17 {
    margin-top: $spacing17 !important;
    margin-bottom: $spacing17 !important;
  }

  .my-sm-18 {
    margin-top: $spacing18 !important;
    margin-bottom: $spacing18 !important;
  }

  .my-sm-19 {
    margin-top: $spacing19 !important;
    margin-bottom: $spacing19 !important;
  }

  .my-sm-20 {
    margin-top: $spacing20 !important;
    margin-bottom: $spacing20 !important;
  }

  // Margin All

  .ma-sm-1 {
    margin: $spacing1 $spacing1 !important;
  }

  .ma-sm-2 {
    margin: $spacing2 $spacing2 !important;
  }

  .ma-sm-3 {
    margin: $spacing3 $spacing3 !important;
  }

  .ma-sm-4 {
    margin: $spacing4 $spacing4 !important;
  }

  .ma-sm-5 {
    margin: $spacing5 $spacing5 !important;
  }

  .ma-sm-6 {
    margin: $spacing6 $spacing6 !important;
  }

  .ma-sm-7 {
    margin: $spacing7 $spacing7 !important;
  }

  .ma-sm-8 {
    margin: $spacing8 $spacing8 !important;
  }

  .ma-sm-9 {
    margin: $spacing9 $spacing9 !important;
  }

  .ma-sm-10 {
    margin: $spacing10 $spacing10 !important;
  }

  .ma-sm-11 {
    margin: $spacing11 $spacing11 !important;
  }

  .ma-sm-12 {
    margin: $spacing12 $spacing12 !important;
  }

  .ma-sm-13 {
    margin: $spacing13 $spacing13 !important;
  }

  .ma-sm-14 {
    margin: $spacing14 $spacing14 !important;
  }

  .ma-sm-15 {
    margin: $spacing15 $spacing15 !important;
  }

  .ma-sm-16 {
    margin: $spacing16 $spacing16 !important;
  }

  .ma-sm-17 {
    margin: $spacing17 $spacing17 !important;
  }

  .ma-sm-18 {
    margin: $spacing18 $spacing18 !important;
  }

  .ma-sm-19 {
    margin: $spacing19 $spacing19 !important;
  }

  .ma-sm-20 {
    margin: $spacing20 $spacing20 !important;
  }
}