// Padding Top

.pt-1 {
  padding-top: $spacing1 !important;
}

.pt-2 {
  padding-top: $spacing2 !important;
}

.pt-3 {
  padding-top: $spacing3 !important;
}

.pt-4 {
  padding-top: $spacing4 !important;
}

.pt-5 {
  padding-top: $spacing5 !important;
}

.pt-6 {
  padding-top: $spacing6 !important;
}

.pt-7 {
  padding-top: $spacing7 !important;
}

.pt-8 {
  padding-top: $spacing8 !important;
}

.pt-9 {
  padding-top: $spacing9 !important;
}

.pt-10 {
  padding-top: $spacing10 !important;
}

.pt-11 {
  padding-top: $spacing11 !important;
}

.pt-12 {
  padding-top: $spacing12 !important;
}

.pt-13 {
  padding-top: $spacing13 !important;
}

.pt-14 {
  padding-top: $spacing14 !important;
}

.pt-15 {
  padding-top: $spacing15 !important;
}

.pt-16 {
  padding-top: $spacing16 !important;
}

.pt-17 {
  padding-top: $spacing17 !important;
}

.pt-18 {
  padding-top: $spacing18 !important;
}

.pt-19 {
  padding-top: $spacing19 !important;
}

.pt-20 {
  padding-top: $spacing20 !important;
}

// Padding Bottom

.pb-1 {
  padding-bottom: $spacing1 !important;
}

.pb-2 {
  padding-bottom: $spacing2 !important;
}

.pb-3 {
  padding-bottom: $spacing3 !important;
}

.pb-4 {
  padding-bottom: $spacing4 !important;
}

.pb-5 {
  padding-bottom: $spacing5 !important;
}

.pb-6 {
  padding-bottom: $spacing6 !important;
}

.pb-7 {
  padding-bottom: $spacing7 !important;
}

.pb-8 {
  padding-bottom: $spacing8 !important;
}

.pb-9 {
  padding-bottom: $spacing9 !important;
}

.pb-10 {
  padding-bottom: $spacing10 !important;
}


.pb-11 {
  padding-bottom: $spacing11 !important;
}

.pb-12 {
  padding-bottom: $spacing12 !important;
}

.pb-13 {
  padding-bottom: $spacing13 !important;
}

.pb-14 {
  padding-bottom: $spacing14 !important;
}

.pb-15 {
  padding-bottom: $spacing15 !important;
}

.pb-16 {
  padding-bottom: $spacing16 !important;
}

.pb-17 {
  padding-bottom: $spacing17 !important;
}

.pb-18 {
  padding-bottom: $spacing18 !important;
}

.pb-19 {
  padding-bottom: $spacing19 !important;
}

.pb-20 {
  padding-bottom: $spacing20 !important;
}

// Padding Left

.pl-1 {
  padding-left: $spacing1 !important;
}

.pl-2 {
  padding-left: $spacing2 !important;
}

.pl-3 {
  padding-left: $spacing3 !important;
}

.pl-4 {
  padding-left: $spacing4 !important;
}

.pl-5 {
  padding-left: $spacing5 !important;
}

.pl-6 {
  padding-left: $spacing6 !important;
}

.pl-7 {
  padding-left: $spacing7 !important;
}

.pl-8 {
  padding-left: $spacing8 !important;
}

.pl-9 {
  padding-left: $spacing9 !important;
}

.pl-10 {
  padding-left: $spacing10 !important;
}

.pl-11 {
  padding-left: $spacing11 !important;
}

.pl-12 {
  padding-left: $spacing12 !important;
}

.pl-13 {
  padding-left: $spacing13 !important;
}

.pl-14 {
  padding-left: $spacing14 !important;
}

.pl-15 {
  padding-left: $spacing15 !important;
}

.pl-16 {
  padding-left: $spacing16 !important;
}

.pl-17 {
  padding-left: $spacing17 !important;
}

.pl-18 {
  padding-left: $spacing18 !important;
}

.pl-19 {
  padding-left: $spacing19 !important;
}

.pl-20 {
  padding-left: $spacing20 !important;
}

// Padding Right

.pr-1 {
  padding-right: $spacing1 !important;
}

.pr-2 {
  padding-right: $spacing2 !important;
}

.pr-3 {
  padding-right: $spacing3 !important;
}

.pr-4 {
  padding-right: $spacing4 !important;
}

.pr-5 {
  padding-right: $spacing5 !important;
}

.pr-6 {
  padding-right: $spacing6 !important;
}

.pr-7 {
  padding-right: $spacing7 !important;
}

.pr-8 {
  padding-right: $spacing8 !important;
}

.pr-9 {
  padding-right: $spacing9 !important;
}

.pr-10 {
  padding-right: $spacing10 !important;
}

.pr-11 {
  padding-right: $spacing11 !important;
}

.pr-12 {
  padding-right: $spacing12 !important;
}

.pr-13 {
  padding-right: $spacing13 !important;
}

.pr-14 {
  padding-right: $spacing14 !important;
}

.pr-15 {
  padding-right: $spacing15 !important;
}

.pr-16 {
  padding-right: $spacing16 !important;
}

.pr-17 {
  padding-right: $spacing17 !important;
}

.pr-18 {
  padding-right: $spacing18 !important;
}

.pr-19 {
  padding-right: $spacing19 !important;
}

.pr-20 {
  padding-right: $spacing20 !important;
}

// Padding X

.px-1 {
  padding-left: $spacing1 !important;
  padding-right: $spacing1 !important;
}

.px-2 {
  padding-left: $spacing2 !important;
  padding-right: $spacing2 !important;
}

.px-3 {
  padding-left: $spacing3 !important;
  padding-right: $spacing3 !important;
}

.px-4 {
  padding-left: $spacing4 !important;
  padding-right: $spacing4 !important;
}

.px-5 {
  padding-left: $spacing5 !important;
  padding-right: $spacing5 !important;
}

.px-6 {
  padding-left: $spacing6 !important;
  padding-right: $spacing6 !important;
}

.px-7 {
  padding-left: $spacing7 !important;
  padding-right: $spacing7 !important;
}

.px-8 {
  padding-left: $spacing8 !important;
  padding-right: $spacing8 !important;
}

.px-9 {
  padding-left: $spacing9 !important;
  padding-right: $spacing9 !important;
}

.px-10 {
  padding-left: $spacing10 !important;
  padding-right: $spacing10 !important;
}

.px-11 {
  padding-left: $spacing11 !important;
  padding-right: $spacing11 !important;
}

.px-12 {
  padding-left: $spacing12 !important;
  padding-right: $spacing12 !important;
}

.px-13 {
  padding-left: $spacing13 !important;
  padding-right: $spacing13 !important;
}

.px-14 {
  padding-left: $spacing14 !important;
  padding-right: $spacing14 !important;
}

.px-15 {
  padding-left: $spacing15 !important;
  padding-right: $spacing15 !important;
}

.px-16 {
  padding-left: $spacing16 !important;
  padding-right: $spacing16 !important;
}

.px-17 {
  padding-left: $spacing17 !important;
  padding-right: $spacing17 !important;
}

.px-18 {
  padding-left: $spacing18 !important;
  padding-right: $spacing18 !important;
}

.px-19 {
  padding-left: $spacing19 !important;
  padding-right: $spacing19 !important;
}

.px-20 {
  padding-left: $spacing20 !important;
  padding-right: $spacing20 !important;
}

// Margin Y

.py-1 {
  padding-top: $spacing1 !important;
  padding-bottom: $spacing1 !important;
}

.py-2 {
  padding-top: $spacing2 !important;
  padding-bottom: $spacing2 !important;
}

.py-3 {
  padding-top: $spacing3 !important;
  padding-bottom: $spacing3 !important;
}

.py-4 {
  padding-top: $spacing4 !important;
  padding-bottom: $spacing4 !important;
}

.py-5 {
  padding-top: $spacing5 !important;
  padding-bottom: $spacing5 !important;
}

.py-6 {
  padding-top: $spacing6 !important;
  padding-bottom: $spacing6 !important;
}

.py-7 {
  padding-top: $spacing7 !important;
  padding-bottom: $spacing7 !important;
}

.py-8 {
  padding-top: $spacing8 !important;
  padding-bottom: $spacing8 !important;
}

.py-9 {
  padding-top: $spacing9 !important;
  padding-bottom: $spacing9 !important;
}

.py-10 {
  padding-top: $spacing10 !important;
  padding-bottom: $spacing10 !important;
}

.py-11 {
  padding-top: $spacing11 !important;
  padding-bottom: $spacing11 !important;
}

.py-12 {
  padding-top: $spacing12 !important;
  padding-bottom: $spacing12 !important;
}

.py-13 {
  padding-top: $spacing13 !important;
  padding-bottom: $spacing13 !important;
}

.py-14 {
  padding-top: $spacing14 !important;
  padding-bottom: $spacing14 !important;
}

.py-15 {
  padding-top: $spacing15 !important;
  padding-bottom: $spacing15 !important;
}

.py-16 {
  padding-top: $spacing16 !important;
  padding-bottom: $spacing16 !important;
}

.py-17 {
  padding-top: $spacing17 !important;
  padding-bottom: $spacing17 !important;
}

.py-18 {
  padding-top: $spacing18 !important;
  padding-bottom: $spacing18 !important;
}

.py-19 {
  padding-top: $spacing19 !important;
  padding-bottom: $spacing19 !important;
}

.py-20 {
  padding-top: $spacing20 !important;
  padding-bottom: $spacing20 !important;
}

// Padding All

.pa-1 {
  padding: $spacing1 $spacing1 !important;
}

.pa-2 {
  padding: $spacing2 $spacing2 !important;
}

.pa-3 {
  padding: $spacing3 $spacing3 !important;
}

.pa-4 {
  padding: $spacing4 $spacing4 !important;
}

.pa-5 {
  padding: $spacing5 $spacing5 !important;
}

.pa-6 {
  padding: $spacing6 $spacing6 !important;
}

.pa-7 {
  padding: $spacing7 $spacing7 !important;
}

.pa-8 {
  padding: $spacing8 $spacing8 !important;
}

.pa-9 {
  padding: $spacing9 $spacing9 !important;
}

.pa-10 {
  padding: $spacing10 $spacing10 !important;
}

.pa-11 {
  padding: $spacing11 $spacing11 !important;
}

.pa-12 {
  padding: $spacing12 $spacing12 !important;
}

.pa-13 {
  padding: $spacing13 $spacing13 !important;
}

.pa-14 {
  padding: $spacing14 $spacing14 !important;
}

.pa-15 {
  padding: $spacing15 $spacing15 !important;
}

.pa-16 {
  padding: $spacing16 $spacing16 !important;
}

.pa-17 {
  padding: $spacing17 $spacing17 !important;
}

.pa-18 {
  padding: $spacing18 $spacing18 !important;
}

.pa-19 {
  padding: $spacing19 $spacing19 !important;
}

.pa-20 {
  padding: $spacing20 $spacing20 !important;
}
