// Header
$headerHeight: 56px;
$headerExtendedHeight: 80px;

// Heading
$headingHeight: 400px;

// Sizing
$displayLarge: 1100px;
$displayMedium: 800px;
$displaySmall: 600px;

$fontSize: 19px;

// Colors

$linkColor: #200c7a;

// Spacing
$spacing1: 5px;
$spacing2: 10px;
$spacing3: 15px;
$spacing4: 20px;
$spacing5: 25px;
$spacing6: 30px;
$spacing7: 35px;
$spacing8: 40px;
$spacing9: 45px;
$spacing10: 50px;
$spacing11: 55px;
$spacing12: 60px;
$spacing13: 65px;
$spacing14: 70px;
$spacing15: 75px;
$spacing16: 80px;
$spacing17: 85px;
$spacing18: 90px;
$spacing19: 95px;
$spacing20: 100px;